/* water mark  */



.px{
    font-size: 18px;
}
.dx{
    font-size: 30px;
color: gray;
}
.xd{
color: navy;
font-size: 1.5em;
font-family: 'Franklin Gothic Medium'
}
.purple{
color: purple;
font-size: 25px;
font-style: italic;
font-family: cursive;

}