

.العنوان-الاول{

    text-align: center;
    color: white;
    background-color: rgb(12, 35, 79);
    }
    .cccc{
        text-align: center;
        background-color: rgb(12, 34, 79);
        color: white;
    }
    
    .redd{
    
    color: red;
    text-transform: uppercase
    
    }
    